* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: #141414;
}
.navbar {
  position: fixed;
  padding: 9px 20px;
  background-color: #141414;
  font-size: 22px;
  font-weight: 700;
  display: block;
  height: 70px;
  width: calc(70% - 48px);
}
.navbar .nav-links {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.navbar .nav-links a {
  padding: 10px 16px;
  text-decoration: none;
  color: rgb(0, 255, 255);
}
/* Hover effects */
.navbar .nav-links a:hover {
  color: rgb(0, 110, 255);
  font-weight: 800;
}
/* responsive navbar toggle button */
.navbar #nav-check, .navbar .nav-btn {
  display: none;
}
/* Column container */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%;
  flex: 30%;
  background-color: #141414;
  padding: 20px;
  text-align: center;
}
/* Main column */
.main {
  -ms-flex: 70%;
  flex: 70%;
  background-color: #141414;
  padding: 0px 20px;
  margin: 8px 0px;
}
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 25px);
}
/* Then style the div to fit in the container with full height and width */
.fixed-box {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  overflow-y: scroll;
}
a {
  color: rgb(210, 105, 30);
  text-decoration: none;
  word-break: break-all;
}
a:hover {
  text-decoration: underline;
  font-weight: bold;
}
img, audio {
  width: 100%;
}
.inside {
  padding-top: 60px;
}
.myself {
  width: 75%;
}
h2 {
  color: rgb(253, 207, 151);
}
h3 {
  color: rgb(169, 239, 241);
}
.quote, .guestbook {
  color: rgb(218, 165, 32);
}
.quote {
  font-style: italic;
}
#blog {
  padding: 20px;
}
#blog ul li {
  padding: 6px;
  color: antiquewhite;
}
.suggestcontact {
  padding: 5px;
  color: rgb(246, 180, 255);
}
article {
  margin: 20px 0;
}
article h3, article p {
  padding: 2;
  margin: 0;
}
article h3 a:hover {
  color: rgb(192, 128, 82);
}
code {
  color: plum;
  font-style: oblique;
}
/* Scrollbar width */
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1cdcd;
}
/* Responsive layout - when the screen is less than 500px wide, make bar toggle. */
@media screen and (max-width: 500px) {
  .navbar {
    position: fixed;
    padding: 9px 20px;
    background-color: #141414;
    font-size: 19px !important;
    font-weight: 650 !important;
    display: block;
    width: calc(100% - 48px);
  }
  .navbar .nav-btn {
    width: 100%;
    display: inline-block;
    top: 0px;
    right: 0;
  }
  .navbar .nav-btn label {
    display: block;
    width: 80px;
    height: 60px;
    padding: 15px 30px;
    float: right;
  }
  .navbar .nav-btn label span {
    display: block;
    height: 10px;
    width: 25px;
    border-top: 3px solid #eeeeee;
  }
  .navbar .nav-btn label:hover,
  .navbar #nav-check:checked ~ .nav-btn label {
    background-color: #141414;
  }
  .navbar .nav-links {
    position: fixed;
    display: block;
    text-align: center;
    width: 50%;
    background-color: #141414;
    transition: all 0.4s ease-in;
    overflow-y: hidden;
    top: 70px;
    right: 28px;
  }
  .navbar .nav-links a {
    display: block;
  }
  /* when nav toggle button not checked */
  .navbar #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  /* when nav toggle button is checked */
  .navbar #nav-check:checked ~ .nav-links {
    height: auto;
    overflow-y: auto;
  }
  #blog {
    padding: 0;
  }
  #blog ul li {
    padding: 0;
  }
}
/* Responsive layout - when the screen is less than 700px wide, make the first columns is hidden. */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .side {
    display: none;
  }
  .navbar {
    position: fixed;
    padding: 9px 20px;
    background-color: #141414;
    font-size: 22px;
    font-weight: 700;
    display: block;
    width: calc(100% - 48px);
  }
}

/* cyrillic-ext */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/jetbrains-mono/cyrillic-ext.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/jetbrains-mono/cyrillic.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/jetbrains-mono/greek.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/jetbrains-mono/vietnam.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/jetbrains-mono/latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/jetbrains-mono/latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
