{% extends "base.html" %}
{% block content %}
<h3>Error 404</h3>
<p>The requested page couldn't be found!<br>The page might have been removed or is temporarily unavailable.</p>
<img src="/assets/images/error.jpg" alt="Error Error">
{% endblock content %}
