<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/icons/logo.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/style.css">
  <meta name="description" content="whoisYoges (invalid)'s Personal Website">
  <meta name="author" content="whoisYoges">
  <meta name="msapplication-TileColor" content="#141414">
  <meta name="theme-color" content="#141414">
  {% if page.title %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>invalid's website</title>
  {% endif %}
</head>

<body>
  <div class="row">
    <div class="side">
      <h3>whoisYoges</h3>
      <img src="/assets/icons/logo.jpg" alt="Hello Friend" class="myself">
      <p>just a regular everyday normal guy</p>
      <hr>
      <p>
        Are you a nerd? <br>
        checkout my
        <a href="http://whoisYoges.eu.org" target="_blank" rel="noopener noreferrer">
          terminal like website</a>
      </p>
      <p class="guestbook">
        now since you are here,<br>how about you
        <a href="http://whoisYoges.123Guestbook.com/" target="_blank" rel="noopener noreferrer">sign my guestbook</a>
      </p>
    </div>
    <div class="main">
      <div class="container">
        <div class="fixed-box">
          <div class="navbar">
            <input type="checkbox" id="nav-check">
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            <div class="nav-links">
              <a href="/">Home</a>
              <a href="/about/">About</a>
              <a href="/blog/">Blog</a>
              <a href="/contact/">Contact</a>
            </div>
          </div>

          <div class="row inside">
            <div class="main">{% block content %}{% endblock %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>