{% extends "base.html" %}

{% block content %}
<div class="bloglists">
    <h2>Recent Posts</h2>
    {% for page in section.pages %}
    <hr>
    <article>
        <h3><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h3>
        <p> <small>{{ page.date }}</small> </p>
        <p>
            {{ page.summary | safe }}
            <a href="{{ page.permalink | safe }}">continue reading...</a>
        </p>
    </article>
    {% endfor %}
</div>
{% endblock content %}