{% extends "base.html" %}
{% block content %}
	<center>
    <img src="/assets/images/elliot.webp" alt="coolest_guy_ever_existed_digitally">
	<p class="quote">
		❝ The world is based on binary, ask why ?<br>
		because the `maybe` in yes and no, it complicate things. ❞
	</p>
	<h4>welcome to invalid's shit palace; my corner of internet</h4>
	<p>
		Hi! I'm Yogesh Lamichhane, a 20-year old introvert depressed guy who loves Computer Stuff, Music, Anime, Games, and Hiking and Camping.
	</p>
	<p class="youtubelink">
		Also, I sometimes upload random Linux stuff to <a href="https://www.youtube.com/channel/UCxFduVRp4umo_flSRCnAInQ?sub_confirmation=1" target="_blank" rel="noopener noreferrer">Youtube</a> and <a href="https://odysee.com/@whoisYoges:7" target="_blank" rel="noopener noreferrer">Odysee</a>.
	</p>
	<h2>THINGS I USUALLY DO?</h2>
	<p>
		I sometimes design and code frondend as a hobby.<br>
		Learn new computer related stuff.<br>
		I sometimes cook too! I promise its not bad.<br>
		Watching Anime, Movies.<br>
		Listen to Music.<br>
		Watch a lot of technology and linux related videos.<br>
		Play Games.<br>
		Dealing With Loneliness, Anxiety and Depression.<br>
		Being alone most of the time and talking to myself.
	</p>
	<h2>WHY AM I HERE?</h2>
	<p>
		This place is home for all my psychological dysfunctioning.<br>
		A place where I am in control, with no censorship or manupilation.<br>
		A place where my words don't get mixed up with noise.
	</p>
	<p>
		I'm here to create a place where I can make changes and express myself without experiencing shyness or social anxiety; where I can talk about myself freely without distraction; a place where my voice is the only sound you can hear.
	</p>
</center>
{% endblock content %}