{% extends "base.html" %}
{% block content %}
<div id="blog">
  <h2 id="blog-title">{{ page.title }}</h2>
  {% if page.date %}
  <small class="blog-date">{{ page.date }}</small>
  {% endif %} 
  {{ page.content | markdown | safe }}
</div>  
{% endblock content %}
